*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.4;
  font-family: 'Montserrat', sans-serif;

}

html, body {
  overflow: hidden;
  background: #333;
  color: #fff;
}

.slider-container{
  height: 100vh;
  display: inline-flex;
  overflow: hidden;
  transform: translateX(0);
  transition: transform .3s ease-out;
}


.slide {
  max-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  user-select: none;
}

.slide img {
  max-width: 100%;
  max-height: 60%;
}

.slide h2 {
  font-size: 2.5rem;
  margin-bottom: .5rem;
}

.slide h4 {
  font-size: 1.3rem;
}

.btn {
  background: #444;
  color: #fff;
  padding: 1rem 1.5rem;
}

#lx-slider-global {
  height: auto;
  width: 100%;
  position: relative;
}

#slider-controls {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 50%;
  height: 50px;
  width: 100%;
  z-index: 99999;
  
}

.control-container{
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;

}

/* i {
  color: #fff;
  cursor: pointer;
}

i:hover {
  transform: scale(1.1);
} */

#next {
  position: absolute;
  right: 10px;
  height: 100%;
  width: 5px;
  background: transparent;
  cursor: pointer;
  padding: .5rem;
  transform: rotateY(180deg);


}

#prev {
  position: absolute;
  left: 10px;
  height: 100%;
  width: 5px;
  background: transparent;
  cursor: pointer;
  padding: .5rem;


}

#prev::before{
  content: '';
  position: absolute;
  background: #fff;
  height: 50%;
  width: 4px;
  top: 2.5px;
  transform: rotateZ(30deg);

}

#prev::after{
  content: '';
  position: absolute;
  background: #fff;
  height: 50%;
  width: 4px;
  bottom: 2.5px;
  transform: rotateZ(-30deg);

}

#next::before{
  content: '';
  position: absolute;
  background: #fff;
  height: 50%;
  width: 4px;
  top: 2.5px;
  transform: rotateZ(30deg);
  

}

#next::after{
  content: '';
  position: absolute;
  background: #fff;
  height: 50%;
  width: 4px;
  bottom: 2.5px;
  transform: rotateZ(-30deg);

}

#next:hover{
  transform: scale(1.08) rotateY(180deg);
}

#prev:hover {
  transform: scale(1.08);
}

#slider-points {
  position: absolute;
  bottom: 0;
  z-index: 99999;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.point {
  height: 10px;
  width: 10px;
  background: #666666;
  cursor: pointer;
  border-radius: 10px;
  margin: .25rem;
}

.active-point {
  background: #fff;
}
